rules_version = '2';

service firebase.storage {
  function isAuthValid() {
    return request.auth != null;
  }

  function isFamilyOrGuest() {
    return isAuthValid() && (request.auth.token.isFamily == true || request.auth.token.isGuest == true)
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if isFamilyOrGuest();
      allow write: if false;
    }
  }
}

